@charset "UTF-8";

/* mdb edit */

body {
    background-color: #f5f5f5;
}

.card.card-cascade.card-avatar img {
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    border-radius: 50%;
}

.card.card-cascade.card-avatar img {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card.card-cascade.card-avatar {
    margin-top: 6rem;
    text-align: center;
}

.black-skin input[type=email]:focus:not([readonly]),
.black-skin input[type=text]:focus:not([readonly]),
.black-skin input[type=password]:focus:not([readonly]),
.black-skin textarea.md-textarea:focus:not([readonly]) {
    border-color: #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
}

.black-skin .dropdown-content li:not(.disabled) span,
.black-skin .md-form .prefix.active,
.black-skin input[type=email]:focus:not([readonly])+label,
.black-skin input[type=text]:focus:not([readonly])+label,
.black-skin input[type=password]:focus:not([readonly])+label,
.black-skin textarea.md-textarea:focus:not([readonly])+label {
    color: #4285f4;
}

.black-skin .side-nav .collapsible li .collapsible-header.active,
.black-skin .side-nav .collapsible li .collapsible-header:hover {
    background-color: #616161;
}

.black-skin .btn-default {
    background-color: #2bbbab!important;
}


.black-skin .btn-primary {
    background-color: #4285f4!important;
}

.black-skin .btn-primary.dropdown-toggle {
    background-color: #4285f4!important;
}

.black-skin .btn-primary.dropdown-toggle:focus,
.black-skin .btn-primary.dropdown-toggle:hover {
    background-color: #4285f4!important;
}


.card.card-cascade .view.gradient-card-header {
    padding: 1.1rem 1rem;
}

.font-bold {
    font-weight: 500;
}

.card img.rounded-circle {
    border-radius: 50%;
}

.card-img-100 {
    width: 100px;
    height: 100px;
}

.table-wrapper {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -1rem;
    border: solid #f7f7f9;
}

/* CircleGroupList */
section.team-section .avatar img.rounded-circle {
    max-width: 150px;
}

section.team-section .avatar img {
    height: auto;
}

@media (min-width: 768px) {
    .media .avatar-2 {
        width: 130px;
    }
}

@media (max-width: 767px) {
    .media .avatar-2 {
        width: 160px;
    }
}

/* original */
.dark-gray-text {
    color: #4f4f4f;
}

.font-blue {
    color: #4285f4;
}

.error-message {
    margin: 5px;
    color: #ff3547;
    text-align: left;
}

.mdb-form-color {
    background-color: #ddd;
}

@media screen and (max-width: 768px) {
    .none {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .none {
        display: none;
    }
    .xs-show {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .xs-show {
        display: none;
    }
}
