@charset "UTF-8";

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 7px);
}

/* original */
.font-blue {
    color: #4285f4;
}

.signup-checkbox {
    margin: 5px;
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
}

.error-message {
    color: #ff3547;
}

footer.page-footer .title {
    text-transform: uppercase;
}

footer.page-footer {
    padding-top: 20px;
    color: #fff;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    font-size: .9rem;
}

.font-bold {
    font-weight: 500;
}

.mb-r {
    margin-bottom: 2rem!important;
}

@media screen and (max-width: 768px) {
    .none {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .mb-r {
        margin-bottom: 2rem!important;
    }
}

/* public card style */
.card img.rounded-circle {
    border-radius: 50%;
}

.card.card-cascade .view.gradient-card-header {
    padding: 1.1rem 1rem;
}

.card.card-cascade.card-avatar img {
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    border-radius: 50%;
}

.card.card-cascade.card-avatar img {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card.card-cascade.card-avatar {
    margin-top: 6rem;
    text-align: center;
}

/* public drop-down */
/*
.dropdown-content li:not(.disabled) span {
    color: #4285f4;
}

.btn-primary.dropdown-toggle {
    background-color: #4285f4!important;
}

.btn-primary.dropdown-toggle:focus,
.btn-primary.dropdown-toggle:hover {
    background-color: #4285f4!important;
}
*/
